<app-modal [isVisible]="true" [title]="'تأكيد الحذف'" (close)="onCancel()">
  <div class="mb-4 arabic-text">
    هل أنت متأكد من حذف الجهاز ذو الرقم:
    <span class="font-mono">{{ node.serialNo }}</span
    >؟
  </div>
  <div class="flex justify-center gap-4 mt-6">
    <button
      type="button"
      (click)="onConfirm()"
      class="w-full bg-red-600 text-white py-3 rounded-lg hover:bg-red-700 arabic-text"
    >
      حذف
    </button>
    <button
      type="button"
      (click)="onCancel()"
      class="w-full bg-gray-200 text-gray-700 py-3 rounded-lg hover:bg-gray-300 arabic-text"
    >
      إغلاق
    </button>
  </div>
</app-modal>
