<app-modal [isVisible]="true" [title]="'إضافة جهاز'" (close)="onCancel()">
  <form
    [formGroup]="nodeForm"
    (ngSubmit)="onSave()"
    class="flex flex-col gap-4"
  >
    <label class="font-semibold text-gray-700 arabic-text">
      رقم الجهاز
      <input
        formControlName="serialNo"
        class="mt-1 w-full border-b-2 rounded-lg p-3 shadow-sm focus:outline-none hover:bg-slate-100 arabic-text"
        placeholder="رقم الجهاز"
      />
    </label>
    <div
      *ngIf="
        nodeForm.get('serialNo')?.touched && nodeForm.get('serialNo')?.invalid
      "
      class="text-red-500 arabic-text text-sm"
    >
      رقم الجهاز مطلوب
    </div>

    <label class="font-semibold text-gray-700 arabic-text">
      الاسم العربي
      <input
        formControlName="descA"
        class="mt-1 w-full border-b-2 rounded-lg p-3 shadow-sm focus:outline-none hover:bg-slate-100 arabic-text"
        placeholder="الاسم العربي"
      />
    </label>
    <div
      *ngIf="nodeForm.get('descA')?.touched && nodeForm.get('descA')?.invalid"
      class="text-red-500 arabic-text text-sm"
    >
      الاسم العربي مطلوب
    </div>

    <label class="font-semibold text-gray-700 arabic-text">
      الاسم الإنجليزي
      <input
        formControlName="descE"
        class="mt-1 w-full border-b-2 rounded-lg p-3 shadow-sm focus:outline-none hover:bg-slate-100 arabic-text"
        placeholder="English name"
      />
    </label>
    <div
      *ngIf="nodeForm.get('descE')?.touched && nodeForm.get('descE')?.invalid"
      class="text-red-500 arabic-text text-sm"
    >
      الاسم الإنجليزي مطلوب
    </div>

    <label class="font-semibold text-gray-700 arabic-text">
      كود الموقع
      <input
        formControlName="locCode"
        type="number"
        class="mt-1 w-full border-b-2 rounded-lg p-3 shadow-sm focus:outline-none hover:bg-slate-100 arabic-text"
        placeholder="كود الموقع"
      />
    </label>
    <div
      *ngIf="
        nodeForm.get('locCode')?.touched && nodeForm.get('locCode')?.invalid
      "
      class="text-red-500 arabic-text text-sm"
    >
      كود الموقع مطلوب
    </div>

    <label class="font-semibold text-gray-700 arabic-text">
      الدور
      <input
        formControlName="floor"
        class="mt-1 w-full border-b-2 rounded-lg p-3 shadow-sm focus:outline-none hover:bg-slate-100 arabic-text"
        placeholder="الدور"
      />
    </label>

    <div class="flex justify-center gap-4 mt-6">
      <button
        type="submit"
        class="w-full bg-primary text-white py-3 rounded-lg hover:bg-primary/80 arabic-text"
      >
        إضافة
      </button>
      <button
        type="button"
        (click)="onCancel()"
        class="w-full bg-gray-200 text-gray-700 py-3 rounded-lg hover:bg-gray-300 arabic-text"
      >
        إغلاق
      </button>
    </div>
  </form>
</app-modal>
