<div class="flex flex-col items-center justify-start bg-gray-50 arabic-text">
  <div class="w-full max-w-7xl bg-white shadow-lg px-8 pb-4 rounded-lg">
    <div
      class="bg-primary text-white text-center py-4 rounded-t-lg -mx-8 -mt-2 mb-8"
    >
      <h2 class="text-3xl font-sans arabic-text">إدارة أجهزة البصمة</h2>
    </div>

    <div class="flex justify-between items-center mb-6 gap-4">
      <!-- Search -->
      <input
        type="text"
        [value]="searchQuery"
        (input)="onSearchInput($event)"
        placeholder="ابحث عن الجهاز"
        class="w-full px-6 py-3 border-b-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 arabic-text"
      />

      <button
        (click)="openAddModal()"
        class="ml-4 w-36 bg-primary text-white py-3 px-6 rounded-lg hover:bg-primary/80 arabic-text"
      >
        إضافة جهاز
      </button>
    </div>

    <!-- Table -->
    <div class="rounded-lg shadow-sm border border-gray-200">
      <div class="max-h-[60vh] overflow-y-auto">
        <table class="min-w-full">
          <thead class="bg-primary sticky top-0 z-10">
            <tr>
              <th
                class="py-3 px-6 text-right text-white font-semibold arabic-text"
              >
                رقم الجهاز
              </th>
              <th
                class="py-3 px-6 text-right text-white font-semibold arabic-text"
              >
                الاسم العربي
              </th>
              <th
                class="py-3 px-6 text-right text-white font-semibold arabic-text"
              >
                الاسم الإنجليزي
              </th>
              <th
                class="py-3 px-6 text-right text-white font-semibold arabic-text"
              >
                الموقع
              </th>
              <th
                class="py-3 px-6 text-right text-white font-semibold arabic-text"
              >
                الدور
              </th>
              <th
                class="py-3 px-6 text-center text-white font-semibold arabic-text"
              >
                الإجراءات
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngIf="filteredNodes.length === 0">
              <td colspan="6" class="text-center py-6 text-gray-400">
                لا توجد بيانات
              </td>
            </tr>

            <tr *ngFor="let n of filteredNodes">
              <td class="py-3 px-6 font-mono">{{ n.serialNo }}</td>
              <td class="py-3 px-6 arabic-text">{{ n.descA }}</td>
              <td class="py-3 px-6">{{ n.descE }}</td>
              <td class="py-3 px-6">{{ n.locCode }}</td>
              <td class="py-3 px-6">{{ n.floor || "-" }}</td>
              <td class="py-3 px-6 flex gap-2 justify-center">
                <app-edit-square
                  (click)="openEditModal(n)"
                  class="w-10 h-10 px-4 py-3 text-primary cursor-pointer hover:text-cyan-700"
                ></app-edit-square>
                <app-delete-filled
                  (click)="openDeleteModal(n.serialNo)"
                  class="w-10 h-10 px-4 py-3 text-red-600 cursor-pointer hover:text-red-400"
                ></app-delete-filled>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-add-node-modal
    *ngIf="isAddModalVisible"
    (close)="closeAddModal($event)"
  ></app-add-node-modal>

  <app-edit-node-modal
    *ngIf="isEditModalVisible"
    [node]="
      editingNode || {
        serialNo: '',
        descA: '',
        descE: '',
        locCode: 0,
        floor: null
      }
    "
    (close)="closeEditModal($event)"
  ></app-edit-node-modal>

  <app-delete-node-modal
    *ngIf="isDeleteModalVisible"
    [node]="{
      serialNo: serialToDelete || '',
      descA: '',
      descE: '',
      locCode: 0,
      floor: null
    }"
    (close)="closeDeleteModal($event)"
  ></app-delete-node-modal>
</div>
